:root {
  --colorpage: #DA5151;
  --navcolortwo: #838cec;
  --colorwhite: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  min-height: 100vh;
  background: var(--colorwhite);
}

.container {
  width: 90%;
  max-width: 1600px;
  margin: 20px auto;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, auto);

  grid-template-areas:
    "header header header"
    "content content sidebar"
    "widget-1 widget-2 sidebar"
    "footer footer footer";
}

.container div,
.container .header,
.container .content {
  padding: 15px;
  border-radius: 4px;
}

.container .header {
  background-image: linear-gradient(to right, var(--colorpage), var(--colorwhite));
  color: var(--colorwhite);
  grid-area: header;
}

.container .content {
  grid-area: content;
}

.container .widget-1,
.container .widget-2 {
  background: var(--navcolortwo);
  color: var(--colorwhite);
  height: 100px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .widget-1 {
  grid-area: widget-1;
}

.container .widget-2 {
  grid-area: widget-2;
}

.container .footer {
  background: var(--colorpage);
  color: var(--colorwhite);
  position: fixed;
  border-right: 20px;
  left: 10px;
  bottom: 0;
  width: 100%;
  text-align: center;
  display: flex;
}

@media screen and (max-width: 768px) {
  .container {
    grid-template-areas:
      "header header header"
      "content content content"
      "widget-1 widget-1 widget-2"
      "footer footer footer";
  }

  .content #notas{
    width: 50%;
  }
}

#notas, td, th {
  padding: 15px;
}

#notas tr:nth-child(even){
  background-color: #f2f2f2;
}

#notas td {
  text-align: center;
}

#notas th{
  background-color: var(--colorpage);
  color: var(--colorwhite);
}

#notas tr:hover{
  background-color: #ddd;
}
