:root {
  --colornav: #103061;
  --colornavtwo: #17213d;

  --colornav2: #19811e;
  --colornavtwo2: #0f5e13;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  position: relative;
  min-height: 100vh;
  width: 100%;
}

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 78px;
  background: var(--colornav);
  padding: 6px 14px;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.navigation_2{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 78px;
  background: var(--colornav2);
  padding: 6px 14px;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.navigation.active, .navigation_2.active {
  width: 240px;
}

.navigation .logo_content .logo,
.navigation_2 .logo_content .logo {
  color: #fff;
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.navigation.active .logo_content .logo,
.navigation_2.active .logo_content .logo {
  opacity: 1;
  pointer-events: none;
}

.logo_content .logo i,
.navigation_2 .logo_content .logo i {
  font-size: 20px;
  margin-right: 5px;
}

.logo_content .logo .logo_name,
.navigation_2 .logo_content .logo .logo_name {
  font-size: 15px;
  font-weight: 400;
}

.navigation #btn_menu, .navigation_2 #btn_menu{
  position: absolute;
  color: #fff;
  left: 50%;
  top: 6px;
  font-size: 20px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.navigation.active #btn_menu,
.navigation_2.active #btn_menu {
  left: 90%;
}

.navigation ul, .navigation_2 ul {
  margin-top: 20px;
}

.navigation ul li,
.navigation_2 ul li {
  position: relative;
  height: 50px;
  width: 100%;
  margin: 0 5px;
  list-style: none;
  line-height: 50px;
}

.navigation ul li .tooltip,
.navigation_2 ul li .tooltip {
  position: absolute;
  height: 35px;
  width: 122px;
  left: 122px;
  top: 0;
  transform: translateY(-50%);
  border-radius: 6px;
  background: #fff;
  line-height: 35px;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0s;
  opacity: 0;
  pointer-events: none;
  display: block;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%), -50%;
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  -webkit-transition: 0s;
  -moz-transition: 0s;
  -ms-transition: 0s;
  -o-transition: 0s;
}

.navigation.active ul li .tooltip,
.navigation_2.active ul li .tooltip {
  display: none;
}

.navigation ul li:hover .tooltip,
.navigation_2 ul li:hover .tooltip {
  transition: all 0.5s ease;
  opacity: 1;
  top: 50%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.navigation ul li input,
.navigation_2 ul li input {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  border-radius: 12px;
  outline: none;
  border: none;
  background: var(--colornavtwo);
  padding-left: 50px;
  font-size: 18px;
  color: #fff;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.navigation ul li .bx-search,
.navigation_2 ul li .bx-search {
  position: absolute;
  z-index: 99;
  color: #fff;
  font-size: 22px;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.navigation ul li .bx-search:hover,
.navigation_2 ul li .bx-search:hover {
  background: #fff;
  color: #1d1b31;
}

.navigation ul li a,
.navigation_2 ul li a {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  border-radius: 12px;
  white-space: nowrap;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.navigation ul li a:hover {
  color: var(--colornav);
  background: #fff;
}

.navigation_2 ul li a:hover {
  color: var(--colornav2);
  background: #fff;
}

.navigation ul li i,
.navigation_2 ul li i {
  height: 50px;
  min-width: 50px;
  border-radius: 12px;
  line-height: 50px;
  text-align: center;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.navigation .links_name,
.navigation_2 .links_name {
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.navigation.active .links_name,
.navigation_2.active .links_name {
  opacity: 1;
  pointer-events: auto;
}

.navigation .profile_content,
.navigation_2 .profile_content {
  position: absolute;
  color: #fff;
  bottom: 0;
  left: 0;
  width: 100%;
}

.navigation .profile_content .profile,
.navigation_2 .profile_content .profile {
  position: relative;
  padding: 10px 6px;
  height: 60px;
  background: none;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.navigation.active .profile_content .profile {
  background: var(--colornavtwo);
}

.navigation_2.active .profile_content .profile {
  background: var(--colornavtwo2);
}

.profile_content .profile .profile_details,
.navigation_2 .profile_content .profile .profile_details {
  display: flex;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;
}

.navigation.active .profile .profile_details,
.navigation_2.active .profile .profile_details {
  opacity: 1;
  pointer-events: auto;
}

.profile .profile_details img,
.navigation_2 .profile .profile_details img {
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.profile .profile_details .name_job,
.navigation_2 .profile .profile_details .name_job {
  margin-left: 10px;
}

.profile .profile_details .name,
.navigation_2 .profile .profile_details .name  {
  font-size: 15px;
  font-weight: 400;
}

.profile .profile_details .job,
.navigation_2 .profile .profile_details .job {
  font-size: 12px;
}

.profile #log_out {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  min-width: 50px;
  line-height: 50px;
  font-size: 20px;
  border-radius: 12px;
  text-align: center;
  transition: all 0.5s ease;
  background: var(--colornavtwo);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.navigation_2 .profile #log_out {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  min-width: 50px;
  line-height: 50px;
  font-size: 20px;
  border-radius: 12px;
  text-align: center;
  transition: all 0.5s ease;
  background: var(--colornavtwo2);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.navigation.active .profile #log_out,
.navigation_2.active .profile #log_out {
  left: 88%;
}

.navigation.active .profile #log_out,
.navigation_2.active .profile #log_out {
  background: none;
}
/* End of Navigation */
